@{
    ViewBag.Title = "BarberDetail";
}

<div class="card">
    <div class="card-header">
        <strong>Basic Form</strong> Elements
    </div>
    <div class="card-body card-block">
        <form action="/Admin/Barber/UpdateBarber/@Model.ID" method="post" enctype="multipart/form-data" class="form-horizontal">



            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="file-input" class=" form-control-label">Image</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="file" id="file-input" name="Image" class="form-control-file" value="@Model.Image">
                </div>
            </div>


            <div class="row form-group">
                <div class="col col-md-3">
                    <label class=" form-control-label">Radios</label>
                </div>
                <div class="col col-md-9">
                    <div class="form-check">
                        <div class="radio">
                            <label for="radio1" class="form-check-label ">
                                <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input">Founder
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radio2" class="form-check-label ">
                                <input type="radio" id="radio2" name="radios" value="option2" class="form-check-input">Barber
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="text-input" name="Name" placeholder="Text" class="form-control" value="@Model.Name">
                    <small class="form-text text-muted">This is a help text</small>
                </div>
            </div>





            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">Info</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea name="Info" id="textarea-input" rows="9" placeholder="Content..." class="form-control">@Model.Info</textarea>
                </div>
            </div>






            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="email-input" class=" form-control-label">Facebook</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="email-input" name="LinkFB" placeholder="Enter Facebook" class="form-control" value="@Model.LinkFB">
                    <small class="help-block form-text">Please enter your Facebook</small>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="email-input" class=" form-control-label">Email</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="email" id="email-input" name="Email" placeholder="Enter Email" class="form-control" value="@Model.Email">
                    <small class="help-block form-text">Please enter your email</small>
                </div>
            </div>


            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="email-input" class=" form-control-label">Twitter</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="email" id="email-input" name="Twitter" placeholder="Enter Twitter" class="form-control" value="@Model.Twitter">
                    <small class="help-block form-text">Please enter your Twitter</small>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>



    </div>



</div>