@{
    ViewBag.Title = "ServiceDetail";
}
@model styleBarber.Wep.ASP.Models.ServiceVM
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body card-block">
                    <form action="/Admin/Service/UpdateService/@Model.ID" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">Hình Ảnh</label>
                            </div>
                            <div class="col col-md-3">
                                <img src="~/Uploads/@Model.Image" style=" width: 300px" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="file" id="file-input" name="Image" class="form-control-file" value="@Model.Image">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tên</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="Name" class="form-control" value="@Model.Name" required>
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Mô Tả</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="ServiceDescription" id="textarea-input" rows="9" placeholder="Mô Tả Dịch Vụs..." class="form-control">@Model.ServiceDescription</textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Giá</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="Price" class="form-control" value="@Model.Price" required>
                                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Gửi
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Đặt Lại
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
       
