
@{
    ViewBag.Title = "Appointment";
    ViewBag.NamePage = "Đặt Lịch";
}

@{ Html.RenderPartial("_PageBar");}
@model styleBarber.Wep.ASP.Models.AppointmentVM

<div id="appointment" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <small>Hãy Đặt Lịch Cho Bạn</small>
                <h3>Đặt Ngay</h3>
            </div>
        </div><!-- end title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="contact_form">
                    <h4>Hello, @ViewBag.User.LastName @ViewBag.User.FirstName </h4>
                    <form action="/Service/SendAppointment" method="post">
                        <div class="form-row">
                            <input type="hidden" value="@ViewBag.User.ID" name="UserID" />
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="date" name="DateCheckOut" id="DateCheckOut" class="form-control" value="@Model.DateCheckOut" placeholder="Thời Gian" required>
                                @Html.ValidationMessageFor(model => model.DateCheckOut, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select id="Time" class="form-control" name="Time" required>
                                    <option value="Time">- Chọn Thời Gian -</option>
                                    @foreach (var item in ViewBag.Times)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.DateCheckOut, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <select id="BarberID" class="form-control" name="BarberID" required>
                                    <option value=""> - Chọn Barber - </option>
                                    @foreach (var item in ViewBag.Barber)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.DateCheckOut, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Note" id="Note" rows="3" placeholder="Cung cấp cho chúng tôi thêm chi tiết.." required>@Model.Note</textarea>
                        </div>
                        <div class="form-btn text-center">
                            <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Đặt Lịch</button>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
@{Html.RenderPartial("_Footer");}

